<% provide(:title, 'Edit Page') %>

<div class="book">
<h1>Edit Page <%= @page.position %> of Chapter <%= @chapter.position %></h1>
    <%= form_for [:admin, @page] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="row image_area">
        <div class="span3">
        <%= image_tag @page.image.url(:medium),
                      class: "image_preview img-rounded pull-left" %>
        </div>

        <div class="span5">
          <label>File</label>
          <p><%= @page.image_file_name %></p>

          <label>Size</label>
          <p><%= number_to_human_size(@page.image_file_size) %></p>

          <label>Upload a different image:</label>
          <%= f.file_field :image %>
        </div>
      </div>

      <div class="object_meta">

        <%= f.label 		 :description %>
        <%= f.text_area  :description %>

        <%= f.label			 :position %>
        <%= f.select     :position, (1..@chapter.pages.size) %>

        <div class="buttons">
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        <%= link_to "Cancel", admin_path, class: "cancel" %>
        </div>

      </div>
    <% end %>

    <div class="delete_wrapper well">
      <%= link_to "<i class='icon-trash icon-white'></i> DELETE PAGE".html_safe, 
                  admin_page_path(@page.id),
                  method: :delete,
                  data: { confirm: "Hey man, you sure?" },
                  title: "Delete Page #{@page.position}?",
                  class: "btn btn-big btn-delete pull-right" %>
    </div>
  </div>
</div>