<% provide(:title, 'Edit Page') %>

<div class="book">
<h1>Edit Chapter <%= @page.chapter.id %>, Page <%= @page.position_in_chapter %></h1>
    <%= form_for [:admin, @page] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label 		 :title %>
      <p><%= @page.chapter.id %>-<%= @page.position_in_chapter %></p>

      <%= f.label 		 :description %>
      <%= f.text_area  :description %>

      <%= f.label			 :chapter_id %>
      <%= f.collection_select :chapter_id, Chapter.all, 
      												:id, :full_chapter_title	   %>

      <%# position isn't working %>
      <%= f.label			 :position_in_chapter %>
      <%= f.select     :position_in_chapter, (1..@page_count.to_i) %>

      <%# filename to come %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

		<%= link_to "Cancel", admin_path %>
  </div>
</div>