<% provide(:title, 'Edit Book') %>

<div class="book">
  <h1>Edit Book</h1>

      <%= form_for [:admin, @book] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="row image_area">
          <div class="span3">
          <%= image_tag @book.cover.url(:medium), 
                        class: "image_preview img-rounded pull-left" %>
          </div>
          <div class="span5">
            
            <label>File</label>
            <p><%= @book.cover_file_name %></p>
            
            <label>Size</label>
            <p><%= number_to_human_size(@book.cover_file_size) %></p>

            <label>Upload a different cover:</label>
              <%= f.file_field :cover, width: "100" %>
          </div>
        </div>

        <div class="object_meta">

          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :description %>
          <%= f.text_area :description %>

          <%= f.label :blurb %>
          <%= f.text_area :blurb %>

          <%= f.label :author %>
          <%= f.text_field :author %>

          <%= f.label :author_about %>
          <%= f.text_area :author_about %>

          <div class="buttons">
          <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
          <%= link_to "Cancel", admin_path %>
        </div>

      </div>
      <% end %>

</div>

