<% provide(:title, 'Admin') %>

<div class="book">
			
	<%= image_tag @book.cover.url(:medium), 
	     class: "image_preview img-rounded pull-left" %>

	<h1>PLOX</h1>

	<h2><%= @book.title %></h2>

	<p><%= link_to "<i class='icon-wrench icon-white'></i> EDIT".html_safe, 	
								 edit_admin_book_path(@book.id),
								 title: "Edit the cover and contents of this book.",
								 class: "btn btn-small" %></p>

	<p><%= simple_format(@book.blurb) %></p>

	<div id="book_more" class="collapse">
		<h3>Description</h3>
		<p><%= simple_format(@book.description) %></p>
		<h3>About the author, <%= @book.author %></h3>
		<p><%= simple_format(@book.author_about) %></p>
	</div>

	<a class="more pull-right" data-toggle="collapse" data-target="#book_more">
		<i class='icon-resize-vertical icon-white'></i> MORE
	</a>

	<div class="contents accordion" id="accordion2">	

		<% @book.chapters.each do |chapter| %>

		 <div class="accordion-group">
			<div class="accordion-heading">

				<%= link_to "<i class='icon-wrench icon-white'></i>".html_safe, 
										edit_admin_chapter_path(chapter.id),
										title: "Edit Chapter #{chapter.id}. #{chapter.title}", 
										class: "btn btn-mini pull-right edit-chapter" %>

				<a class="accordion-toggle" data-toggle="collapse" 
				   data-parent="#accordion2" href="#collapse<%= chapter.id %>">
					 Chapter <%= chapter.id %>. <%= chapter.title %>
				</a> 

	 		</div><!-- /accordion-heading -->

	 		<% if chapter == @book.chapters.last %>

	 		<div id="collapse<%= chapter.id %>" class="accordion-body collapse in">
	 		<% else %>
			<div id="collapse<%= chapter.id %>" class="accordion-body collapse">
	 		<% end %>

	 			<div class="accordion-inner">
					<ul class="inline comic-pages">
							<% chapter.pages.order("position_in_chapter ASC").each do |page| %>
								<li>
									<%= link_to image_tag(page.image.url(:thumb), 
                      				class: "img-rounded"),
                      				edit_admin_page_path(page.id) %>
                </li>
							<% end %>

							<li>
								<%= link_to "<i class='icon-plus icon-white'></i>".html_safe, 
										        new_admin_page_path(:chapter_id => chapter.id),
										        class: "btn btn-big add-page" %>
							</li>

					</ul>
				</div><!-- /accordion-inner -->

			</div><!-- /#collapse -->
		</div><!-- /accordion-group -->
		<% end %>
	</div><!-- /contents -->
	<%= link_to "<i class='icon-plus icon-white'></i> ADD A CHAPTER".html_safe, new_admin_chapter_path, class: "btn btn-big" %>
</div>
