<% provide(:title, "Sign in") %>

<div class="user img-rounded">
<h1>Sign in to PLOXR&trade;</h1>


	    <%= form_for(:session, url: sessions_path) do |f| %>

	      <%= f.label :email %>
	      <%= f.text_field :email %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <div class="buttons">
        	<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        	<%= link_to "Cancel", root_path, class: "cancel" %>
        </div>

	    <% end %>


</div>