<div class="navbar navbar-static-top">
	<nav>
		<ul class="nav pull-left chapter-nav">
			<li>Chapter:</li>
			<% @chapters.each do |chapter| %>
				<li>
					<% if chapter.id == @page.chapter_id %>
						<%= link_to chapter.id,	chapter, class: "active" %>
					<% else %>
						<%= link_to chapter.id,	chapter %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</nav>
	<nav>
		<ul class="nav pull-right page-nav">
			<li>
				<% if @page.previous.presence %>
					<%= link_to image_tag("prev.png", alt: "previous"), @page.previous %>
				<% else %>
					<%= image_tag("prev.png", alt: "First page", title: "You're on the first page.", class: "inactive") %>
				<% end %>
			</li>
			<li>
				<% if @page.next.presence %>
					<%= link_to image_tag("next.png",	alt: "next"), @page.next %>
				<% else %>
					<%= image_tag("next.png", alt: "Last page", title: "You're on the last page.", class: "inactive") %>
				<% end %>
			</li>

		</ul>
	</nav>
</div>
<div class="comic-image">
	<%= link_to s3_comic_tag(@page.filename, alt: @page.description), 
							s3_comic_path(@page.filename) %>
</div>