<% provide(:title, 'Edit Chapter') %>

<div class="book">
<h1>Edit Chapter</h1>

    <%= form_for [:admin, @chapter] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label 		 :title %>
      <%= f.text_field :title %>

      <%= f.label 		 :description %>
      <%= f.text_area  :description %>

      <%= f.label      :position %>
      <%= f.select     :position, (1..Book.last.chapters.size) %>

      <div class="buttons">
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", admin_path %>
    	</div>
    <% end %>

    <div class="delete_wrapper well">
      <%= link_to "<i class='icon-trash icon-white'></i> DELETE CHAPTER".html_safe, 
                  admin_chapter_path(@chapter.id),
                  method: :delete,
                  data: { confirm: "Hey man, you sure? This will delete all the pages in this chapter, too!" },
                  title: "Delete Chapter #{@chapter.id}: #{@chapter.title} and all its pages?",
                  class: "btn btn-big btn-delete pull-right" %>
    </div>

</div>