<% provide(:title, 'Add a Chapter') %>

<div class="book">
<h1>Add a Chapter</h1>

    <%= form_for [:admin, @chapter] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label 		 :title %>
      <%= f.text_field :title %>

      <%= f.label 		 :description %>
      <%= f.text_area  :description %>

      <div class="buttons">
      <%= f.submit "Create Chapter", class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", admin_path %>
      </div>
    <% end %>
</div>