<footer>
	<div class="container">
		<div class="row">
		  <div class="span6">
		  	<div id="blurb">
			    <h3><%= Book.last.title %></h3>
			    <%= simple_format(Book.last.blurb) %>
				</div>
			</div>
			<div class="span3">
				<div id="connect">
					<h3>Connect with Steve</h3>
					<div class="navbar">
				    <ul class="nav">
				    	<li><%= link_to image_tag("twitter.png", alt: "Twitter"), 
				    														'https://twitter.com/SteveHamaker' %></li>
				    	<li><%= link_to image_tag("facebook.png", alt: "Facebook"),
				    														'https://www.facebook.com/PloxComic' %></li>
				    </ul>
			  	</div>
				</div>
		  </div>
		  <div class="span3">
		  	<div id="share">
					<h3>Share PLOX</h3>
					<% if Rails.env.production? %>
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
						<a class="addthis_button_facebook"></a>
						<a class="addthis_button_twitter"></a>
						<a class="addthis_button_google_plusone_share"></a>
						<a class="addthis_button_tumblr"></a>
						</div>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-524a061e7044931c"></script>
						<!-- AddThis Button END --> 
					<% end %>		
      	</div>
			</div>
		</div><!-- /row -->
		<div class="row">
			<%= debug(params) if Rails.env.development? %>
		</div>
	</div><!-- /container -->
</footer>