<footer>
	<div class="container">
		<div class="row">
		  <div class="span6">
		  	<div id="blurb">
			    <h3><%= Book.last.title %></h3>
			    <%= simple_format(Book.last.blurb) %>
				</div>
			</div>
			<div class="span3">
				<div id="connect">
					<h3>Connect with Steve</h3>
					<div class="navbar">
				    <ul class="nav">
				    	<li><%= link_to image_tag("twitter.png", alt: "Twitter"), 
				    														'https://twitter.com/SteveHamaker' %></li>
				    	<li><%= link_to image_tag("facebook.png", alt: "Facebook"),
				    														'https://www.facebook.com/PloxComic' %></li>
				    </ul>
			  	</div>
				</div>
		  </div>
		  <div class="span3">
		  	<div id="share">
					<h3>Share PLOX</h3>
					<% if Rails.env.production? %>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_tumblr_large' displayText='Tumblr'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>  
					<% end %>		
      	</div>
			</div>
		</div><!-- /row -->
		<div class="row">
			<%= debug(params) if Rails.env.development? %>
		</div>
	</div><!-- /container -->
</footer>