<footer>
	<div class="container">
		<div class="row">
		  <div class="span6">
		  	<div id="blurb">
			    <h3><%= Book.last.title %></h3>
			    <%= simple_format(Book.last.blurb) %>
				</div>
			</div>
			<div class="span3">
				<div id="connect">
					<h3>Connect with Steve</h3>
					<div class="navbar">
				    <ul class="connect">
				    	<li class="connect_twitter">
				    		<%= link_to "Steve on Twitter", 
				    		            "https://twitter.com/SteveHamaker",
				    		            target: "_blank" %>
				      </li>
				    	<li class="connect_facebook">
				    		<%= link_to "PLOX on Facebook", 
				    		            "https://www.facebook.com/PloxComic",
				    		            target: "_blank" %>
				    	</li>
				    	<li class="connect_rss">
				    		<%= link_to "PLOX RSS/Atom Feed", feed_path,
				    		            target: "_blank" %>
				    	</li>
				    </ul>
			  	</div>
				</div>
		  </div>
		  <div class="span3">
		  	<div id="share">
					<h3>Share this PLOX comic</h3>
					<div class="navbar">
						<ul class="nav">
							<li>
								<%= link_to image_tag("facebook.png", alt: "Facebook"), 
								            "http://www.facebook.com/sharer/sharer.php?u=#{ request.original_url }",
								            target: "_blank",
								            title: "Share this on Facebook" %>
							</li>
							<li>
								<%= link_to image_tag("twitter.png", alt: "Twitter"), 
								            "http://twitter.com/intent/tweet?text=PLOX%20by%20@SteveHamaker%20#{ request.original_url }", 
								            target: "_blank",
								            title: "Share this on Twitter" %>
							</li>
							<li>
								<%= link_to image_tag("googleplus.png", alt: "Google+"), 
								            "https://plus.google.com/share?url=#{ request.original_url }", 
								            target: "_blank",
								            title: "Share this on Google+" %>
							</li>
						</ul>
					</div>
      	</div>
			</div>
		</div><!-- /row -->
		<div class="row">
			<%= debug(params) if Rails.env.development? %>
		</div>
	</div><!-- /container -->
</footer>