<header>
	<div class="navbar navbar-static-top">
			<div class="container">
				<%= link_to "steve-hamaker.com", 'http://steve-hamaker.com',
																				 class: 'steve-hamaker' %>

 				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse collapse">
					<nav>
							<ul class="nav pull-right">
								<li><%= link_to "About", about_path %></li>
								<li><%= link_to "Subscribe", 
																"http://feeds.feedburner.com/plox-comic", 
																target: "_blank" %></li>
								<li><%= link_to "Support Plox:", 
																'http://www.patreon.com/plox',
																title:  "Support Plox at Patreon.com",
				    		            		class: 	"outbound_link", style: "display:inline;padding-right:7px;" %><%= link_to image_tag("patreon-logo.png", alt: "Patreon", width: "80px"), 
																'http://www.patreon.com/plox',
																title:  "Support Plox at Patreon.com",
				    		            		class: 	"outbound_link", style: "display:inline;padding:0;" %></li>
							</ul>
					</nav>
				</div>

			</div>
	</div>
	<%= render 'layouts/top_ad' if Rails.env.production? %>
	<div class="container">
		<%= link_to(root_path) do %>
			<div class="masthead"></div>
		<% end %>
	</div>
</header>