<header>
	<div class="navbar navbar-static-top">
			<div class="container">
				<%= link_to "steve-hamaker.com", 'http://steve-hamaker.com',
																				 class: 'steve-hamaker' %>

 				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse collapse">
					<nav>
							<ul class="nav pull-right">
								<li><%= link_to "About", about_path %></li>
								<li><%= link_to "Subscribe", 
																"http://feeds.feedburner.com/plox-comic", 
																target: "_blank" %></li>
								<li><%= link_to "Message Board", 
																'http://plox.boardhost.com/index.php',
																title:  "PLOX Message Board",
				    		            		class: 	"outbound_link" %></li>
								<!--<li><%#= link_to "Shop", 
																'http://steves-store-3.myshopify.com/',
																title:  "Steve's Shop",
				    		            		class: 	"outbound_link" %></li>-->
							</ul>
					</nav>
				</div>

			</div>
	</div>
	<div class="container">
		<%= link_to(root_path) do %>
			<div class="masthead"></div>
		<% end %>
	</div>
</header>