<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="utf-8">	
		<title><%= full_title(yield(:title)) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="Description"
			  content="PLOX: A comic about people who happen to be gamers.">
		<meta name="Author" content="Steve Hamaker">
		<%= csrf_meta_tags %>
		<%= auto_discovery_link_tag :atom, "/subscribe" %>
		<%= auto_discovery_link_tag :rss, "/subscribe.rss" %>

		<!-- Stylesheets -->
		<%= stylesheet_link_tag    "application", media: "all", 
	  													 "data-turbolinks-track" => true %>

	  <%= render 'layouts/shim' %>

	  <!-- Javascripts -->
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	  <!-- Fav and touch icons -->
	  <%= favicon_link_tag 'favicon.ico' %>
	  <%= favicon_link_tag 'favicon.ico', rel: 'apple-touch-icon', type: 'image/png' %>

	  <% # Add Google Analytics at launch %>
	  <% # ID: UA-42540201-1 %>
	</head>
	<body>

		<%= render 'layouts/header' %>

		<section>
			<div class="container wrapper">
						<div class="content">

				      <% flash.each do |key, value| %>
				        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
				      <% end %>
							
							<%= yield %>
						</div>
			</div><!-- /container -->
		</section>

		<%= render 'layouts/footer' %>

	</body>
</html>
