<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="utf-8">	
		<title><%= full_title(yield(:title)) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="Description"
			  content="PLOX: A comic about people who happen to be gamers.">
		<meta name="Author" content="Steve Hamaker">
		<%= csrf_meta_tags %>
		<%= auto_discovery_link_tag :atom, "http://feeds.feedburner.com/plox-comic" %>
		<%= auto_discovery_link_tag :rss,  "http://feeds.feedburner.com/plox-comic" %>

		<!-- Stylesheets -->
		<%= stylesheet_link_tag    "application", media: "all", 
	  													 "data-turbolinks-track" => true %>

	  <%= render 'layouts/shim' %>

	  <!-- Javascripts -->
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	  <!-- Google Ads -->
	  
	  <script type='text/javascript'>
			var googletag = googletag || {};
			googletag.cmd = googletag.cmd || [];
			(function() {
			var gads = document.createElement('script');
			gads.async = true;
			gads.type = 'text/javascript';
			var useSSL = 'https:' == document.location.protocol;
			gads.src = (useSSL ? 'https:' : 'http:') + 
			'//www.googletagservices.com/tag/js/gpt.js';
			var node = document.getElementsByTagName('script')[0];
			node.parentNode.insertBefore(gads, node);
			})();
		</script>

		<script type='text/javascript'>
			googletag.cmd.push(function() {
			googletag.defineSlot('/1051411/Plox_Leaderboard_728X90', [728, 90], 'div-gpt-ad-1389238823574-0').addService(googletag.pubads());
			googletag.defineSlot('/1051411/Plox_Lower_Rectangle_300X250', [300, 250], 'div-gpt-ad-1389238823574-1').addService(googletag.pubads());
			googletag.defineSlot('/1051411/Plox_Upper_Rectangle_300X250', [300, 250], 'div-gpt-ad-1389238823574-2').addService(googletag.pubads());
			googletag.enableServices();
			});
		</script>
		

	  <!-- Fav and touch icons -->
	  <%= favicon_link_tag 'favicon.ico' %>
	  <%= favicon_link_tag 'favicon.ico', rel: 'apple-touch-icon', type: 'image/png' %>

	</head>
	<body>

		<%= render 'layouts/header' %>

		<section>
			<div class="container wrapper">
						<div class="content">

				      <% flash.each do |key, value| %>
				        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
				      <% end %>
							
							<%= yield %>
						</div>
			</div><!-- /container -->
		</section>
		<section>
			<div class="container">
<div class="row">
<div class="span5">
		<!-- Plox_Lower_Rectangle_300X250 -->
		<div id='div-gpt-ad-1389238823574-1' style='width:300px; height:250px;'>
		<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1389238823574-1'); });
		</script>
		</div>
</div>
<div class="span5">
		<!-- Plox_Upper_Rectangle_300X250 -->
		<div id='div-gpt-ad-1389238823574-2' style='width:300px; height:250px;'>
		<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1389238823574-2'); });
		</script>
		</div>
</div>
</div>
			</div>
		</section>

		<%= render 'layouts/footer' %>
		<%= render 'layouts/google_analytics' if Rails.env.production? %>
		<%= render 'layouts/track_outbound_links' if Rails.env.production? %>
	</body>
</html>
